@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600&family=Source+Code+Pro:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #05090f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #091016, #0a1220);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #091016, #0a1220); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
position: fixed;
top: 20px;
left: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #06ed3c;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #130422;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: rgb(255, 255, 255);
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #440243;
}

.social-icon{
    position: relative;
    font-size: 30px;
    display: inline-block;
    list-style: none;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    margin-left: 35px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4b06ed;
    border-radius: 50%;
    margin-top: 302px;
}
.social-icon a{
    color: white;
    opacity: 1;
    position: fixed;
    margin-top: -9px;
    margin-left: -12px;
    padding-bottom: -20px;
}
.social-icon:hover{
    background-color: #ed0685;

}



.bodycontainer{
    min-height: 70vh;
    color: white;
    font-family: 'Baloo 2', cursive;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 300px;
    padding: 20px;
    background:url(arijitFolder.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;


}
.bottom{
    position: sticky;
    height: 110px;
    background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3f0c6656, #14051a45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3f0c665f, #14051a4a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  
.icons{
    margin-top: 14px;

}
.icons i{
    cursor: pointer;
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    
}
.icons i:hover{
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
}
.icons i:active{
    color: greenyellow;
}
#myProgressBar{
    width: 80vw;
    height: 5px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.227);
    border-radius: 100px;
}
input[type="range"]::-moz-range-progress {
    background: #40E0D0;  
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    height: 0.5em;
    
  }
.songItemContainer{
    margin-top: 35px;
    margin-left: 703px;
   
}
.songItem{
    height: 30px;
    width: 500px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.132);
    color: white;
    /* font-family: sans-serif; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-bottom: 35px;
    margin-left: -89px;
}
.songItem:hover{
    background-color:rgba(15, 2, 42, 0.951);
}
.songItem img{
    width: 70px;
    margin: 0 10px;
    border-radius: 50px;
    height: 70px;
    margin-top: 40px;
    margin-left: -20px;
  }
.songName{
    width: 290px;
margin-left: -80px;
font-size: 30px;
margin-top: 38px;
}
.timeStamp{
    margin: 0 23px;
    margin-top: 38px;
    margin-left: -50px;
    color: yellow;
}
.songPlayBtn {
    cursor: pointer;
    margin-top: 42px;
    margin-left: -60px;
    color: #40E0D0;
    font-size: 30px;
    /* margin-left:100px; */

}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#masterSongName{
    margin-left: -74px;
}
