* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
  }
  
  .popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-in 0.5s ease-out;
    overflow: hidden;
  }
  .popup- {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: 333;
    padding: 10px;
    z-index: 1;
  }
  .popup-content {
    position: relative;
    padding: 20px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
margin-left: 100px;
  }
  .button img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .button:hover {
    background-color: #eee;
  }
  @media (prefers-color-scheme: dark) {
    body,
    .popup,
    .button,
    .popup- {
      background-color: #333;
      color: #fff;
    }
    .popup- {
      background-color: rgb(100, 49, 49);
    }
    .button:hover {
      background-color: #444;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .playlist {
  margin: 40px 0px 0px 20px;
}

  .playlist h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #e0e8e9a2;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .3s linear;
}

  .playlist h4:hover {
  color: #36e2ec;
}

  .playlist h4 span {
  position: relative;
  margin-right: 35px;
}

  .playlist h4 span::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: .3s linear;
}

  .playlist h4:hover span::before {
  border: 2px solid #fff;
}

  .playlist h4 .bi {
  display: none;
}

  .playlist .active {
  color: #36eca0;
}

  .playlist .active span {
  display: none;
}

  .playlist .active .bi {
  display: flex;
  margin-right: 20px;
}

  .menu_song {
    width: 300px;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    margin-left: -100px;
}

  .menu_song li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;
}

  .menu_song li:hover {
  background: rgb(105, 105, 170, .1);
}

  .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: #0ff08793;
}

  .menu_song li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

  .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
}

  .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #16f36086;
}

  .menu_song li .bi {
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 16px;
}
